<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- root %>theme.css">
    <link rel="stylesheet" href="<%- root %>style.css">
    <link rel="stylesheet" href="<%- root %>highlight.css">
    <title></title>
  </head>
  <body>
  <div class="aigis-container">
    <div class="aigis-sidemenu">
      <h2 class="aigis-sidemenu__heading">Category</h2>
      <nav class="aigis-categoryList">
        <%- helper.renderCollectionTree('category') %>
      </nav>
    </div>
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        <div><% components.forEach(function(component) { %>
          <div class="aigis-module">
            <h2 class="aigis-module__heading" id="<%- component.config.name %>">
              <%- component.config.name %>
            </h2>
            <div class="aigis-module__filepath">
              <%- component.sourcePath %>
            </div>
            <ul class="aigis-tags"><% component.config.tag.forEach(function(tag) { %>
              <li class="aigis-tags__item aigis-tags__item--<%- tag %>">
                <%- tag %>
              </li><% })%>
            </ul>
            <%- component.html %>
          </div><% }) %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
